@import '../root.css';

footer {
    background-color: var(--bg-color1);
    text-align: center;
    padding: 20px 10px;
}

.footer__content__row {
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer__content__row>div {
    flex-grow: 1;
}

.footer__logo {
    width: 350px;
    clip-path: polygon(0 0, 100% 0%, 100% 65%, 0 65%);
}

.footer__logo>img {
    width: 80%;
    object-fit: cover;
}

.God_of_Site {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    display: inline-block;
    border-top: 2px solid black;
    padding: 5px 20px 10px 20px;
}

.footer__link,
.footer__text {
    margin-bottom: 20px;
    width: 300px;
    font-size: 1.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;    
    display: inline-block;
}

.footer__education {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
}

.footer__education__row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__map {
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

.footer__map>iframe {
    width: 80%;
}

.footer__contact {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 2px;
}

.footer__contact__link:nth-child(1) {
    color: black;
    font-size: 1.8em;
}

.footer__contact__link:nth-child(2) {
    font-size: 1.9em;
}

.footer__contact__link:nth-child(3) {
    font-size: 1.8em;
}

.footer__contact__link i:hover:before {
    background-color: transparent;
    background: none;
    color: black;
}

.footer__contact__link:hover {
    transition: .3s ease transform;
    transform: translateY(-3px);
}

.footer__contact__link {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
}

.footer__contact__link:nth-child(1):hover {
    background-color: rgb(66, 103, 178);
}

.footer__contact__link:nth-child(2):hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.footer__contact__link:nth-child(3):hover {
    background: linear-gradient(45deg, #8e36e0 0%, #164b92 100%);
}

.footer__contact__link:hover {
    color: white !important;
}

.footer__contact__link>i {
    pointer-events: none;
}
.footer__edu__link{
    padding: 10px;
    position: relative;
}

.footer__edu__link:after,
.footer__edu__link:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.6s ease;
}
.footer__edu__link:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}
.footer__edu__link:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}
.footer__edu__link:hover::before,
.footer__edu__link:hover::after {
    width: 10px;
    height: 10px;
    border-color: black;
}

@media only screen and (max-width: 970px) {
    .footer__content__row {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer__content__row>div {
        width: 100%;
    }

    .footer__map {
        padding: 0;
    }
}

@media only screen and (max-width: 510px) {
    .footer__education__row{
        flex-direction: column;
        gap: 10px;
    }
    .footer__education{
        text-align: center!important;
    }
}