header {
    margin: 0 auto;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.832);
    padding: 0 5%;
    z-index: 3;
}

.header__nav {
    padding: 15px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    overflow: hidden;
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
}

.logo>img {
    top: -22px;
    left: -25PX;
    position: absolute;
    width: 95px;
}


.header__nav__links {
    display: flex;
    font-family: 'Space Mono', monospace;
}

.header__nav__item {
    padding: 0 10px;
}

.header__nav__link {
    position: relative;
    user-select: none;
    cursor: pointer;

}

.header__nav__link::before,
.header__nav__link::after {
    content: '';
    background-color: gray;
    position: absolute;
    bottom: -2.5px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 2px;
    transition: .3s;
}

.header__nav__link::after {
    top: 1px;
    right: 0;
    bottom: auto;
    left: auto;
}

.header__nav__link:hover::before,
.header__nav__link:hover::after {
    opacity: 1;
    width: 20%;
}

.nav__left {
    width: 10%;
}

.nav__mid {
    justify-content: center;
    display: flex;
}

.nav__right {
    width: 10%;
    align-items: center;
    direction: rtl;
    display: flex;
}

.nav__right>i {
    cursor: pointer;
}

.nav__right>.fa-solid::before,
.nav__right>.fa-brands::before {
    display: block;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30px;
}

.nav__right .fa-facebook-f {
    transform: translateY(0);
    animation: jump 1s infinite alternate-reverse;
}

.nav__right .fa-instagram {
    transform: translateY(0);
    animation: jump 1s 0.2s infinite alternate-reverse;
    font-size: 1.1em;
}

.nav__right .fa-youtube {
    transform: translateY(0);
    animation: jump 1s 0.3s infinite alternate-reverse;
    font-size: 1.05em;
}

.nav__right .fa-location-pin {
    transform: translateY(0);
    animation: jump 1s 0.4s infinite alternate-reverse;
}

.hamburger__menu {
    display: none;
    -webkit-animation: 0;
    white-space: nowrap;
}

@keyframes jump {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 790px) {
    .nav__right {
        gap: 10px;
    }

    .fa-location-pin {
        font-size: 2em;
    }

    .header__nav__links {
        font-size: 20px;
    }

    .header__nav {
        padding: 15px 10px;
    }

    .nav__right .fa-facebook-f,
    .nav__right .fa-instagram,
    .nav__right .fa-youtube {
        display: none;
    }
}

.menu__icon {
    width: 60px;
    cursor: pointer;
    display: none;
    z-index: 3;
}

.menu__icon>span {
    pointer-events: none;
    display: inline-block;
    width: 100%;
    height: 5px;
    position: relative;
    transition: .3S;
    background-color: gray;
}

@media only screen and (max-width: 740px) {
    .language {
        display: none;
    }

    .hamburger__menu {
        display: block;
    }

    .menu__icon {
        display: block;
    }

    .logo {
        height: 80px;
        width: 80px;
    }

    .logo>img {
        width: 175px;
        top: -40px;
        left: -45px;
    }

    .nav__mid {
        display: none;
    }

    .nav__right .fa-location-pin {
        display: none;
    }
}

.hamburger__menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.531);
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    height: 0%;
    width: 0%;
    z-index: 2;
}

.hamburger__menu__bg {
    align-items: center;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    height: 0%;
    width: 0%;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    background-color: var(--evo--color);
}

.hamburger__link {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    display: flex;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 3em;
}

.hamburger__link>a {
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.hamburger__link>a:hover {
    color: var(--evo--color);
    transition: .3s;
    background-color: white;
}

.hamburger--animation {
    animation: animation__hamburger--open 1s forwards;
}

.hamburger--animation--close {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 0;
    animation: animation__hamburger--close 1s forwards;

}

@keyframes animation__hamburger--open {
    0% {
        height: 0%;
        width: 0%;
        border-bottom-left-radius: 100%;
    }

    100% {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 0;
    }
}

@keyframes animation__hamburger--close {
    0% {
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 0;
    }

    100% {
        height: 0%;
        width: 0%;
        border-bottom-left-radius: 100%;
    }
}

.hamburger__link i:hover::before {
    background: none;
    background-color: transparent;
}

.hamburger__link a {
    transform: translateX(-100px);
    user-select: none;
    /* Thank You Azad  08.01.2023 || 19:56*/
    transition: .2s;
    opacity: 0;
}

.hamburger__link--show {
    transform: none !important;
    opacity: 1 !important;
}

.hamburger__icons {
    margin-top: 35px;
    gap: 20px;
    align-items: center;
    display: flex;
}

.hamburger__icons>i {
    cursor: pointer;
}

.hamburger__icons>.fa-location-pin {
    font-size: 1em;
}

.language {
    cursor: pointer;
    letter-spacing: 3px;
    font-family: Gilroy;
    /* font-family: 'Space Mono', monospace; */
}
