@import '../css/root.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('./components/header.css');
@import url('./components/background.css');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

.home__section {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    pointer-events: none;
    display: flex;
    z-index: 1;
    user-select: none;
}

.home__title {
    font-size: 6em;
    text-align: center;
    font-family: Gilroy;
    width: 100%;
}

.home__text {
    font-size: 2em;
}

.video {
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    height: 100%;
    z-index: -1;
    /* transform: translate(-50%, -50%); */
    width: 100%;
}

.fade__line {
    animation: fade__in 0.5s infinite alternate;
}

@keyframes fade__in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media only screen and (max-width: 660px) {
    .home__text {
        text-align: center;
    }
}


/* #region About Section*/
.about__section {
    width: 100%;
    padding: 0 50px;
    display: flex;
    height: 100vh;
}

.about__left {
    /* background-color: var(--evo--color); */
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about__right {
    /* background-color: rgba(0, 0, 0, 0.531); */
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 50%;
}

.about__title {
    position: relative;
    /* font-family: 'Space Mono', monospace; */
    font-family: Gilroy;
    font-size: 5vw;
}

.about__title::before {
    background-color: var(--evo--color);
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    bottom: -5px;
}

.about__description {
    text-align: left;
    font-size: 2.5vw;
    width: 70%;
    font-family: 'Space Mono', monospace;
}

.about__content {
    height: 90%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 90%;
    /* gap: 20px; */
    flex-direction: column;
    display: flex;

}

.about__right__image {
    width: 100%;
    display: flex;
    position: relative;
    perspective: 1500px;
}

.about__right__image::before {
    position: absolute;
    perspective: 1500px;
    content: '';
    top: -50px;
    right: 50px;
    background-image: url('../images/pattern-1.png');
    border-radius: 0.375em;
    height: 100px;
    animation: rotate360 infinite 10s linear;
    width: 100px;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about__right__image>img:hover {
    perspective: 0;
    transform: rotate(0);
}

.about__right__image>img {
    object-fit: cover;
    transform: rotateX(20deg) rotateY(-15deg) rotateZ(6deg);
    border-radius: 0.375em;
    box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
    transition: .3s;
    width: 90%;
    position: relative;
    box-shadow: -10px -10px 1px var(--card-color4);
}

@media only screen and (max-width: 970px) {
    .about__section {
        flex-direction: column;
    }

    .about__section>div {
        width: 100%;
    }

    .about__content {
        flex-direction: row;
    }

    .about__right__image {
        width: 50%;
    }

    .about__right__image>img {
        width: 80%;
    }

    .about__content,
    .about__left,
    .about__right {
        height: auto;
    }

    .about__title {
        font-size: 11vw;
    }

    .about__description {
        text-align: center;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 970px) {
    .about__section {
        height: auto;
    }

    .about__content {
        flex-direction: column;
        gap: 10px;
    }

    .about__right__image {
        width: 100%;
        justify-content: center !important;
        max-height: 350px;
    }

    .about__section {
        padding: 0;
    }
}

/* #endregion */


/* #region Educatio Section */
.education__section {
    padding: 20px 50px;
    z-index: 2;
    background-size: cover;
    /* background-color: rgb(34,34,34); */
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: flex;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.education__title {
    position: relative;
    font-family: Gilroy;
    display: inline-block;
    text-align: center;
    font-size: 4vw;
}

.education__title::before {
    background-color: var(--card-color4);
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    bottom: -5px;
}

.education__content {
    padding-top: 5%;
    justify-content: center;
    padding-bottom: 300px;
    display: flex;
    font-family: 'Space Mono', monospace;
}

.education_courses {
    display: grid;
    width: 90%;
    gap: 50px;
    justify-content: center;
    grid-template-columns: repeat(4, 300px);
}

.education__course {
    box-shadow: 0 0 10px rgb(223, 236, 248);
    background-color: white;
    padding: 20px 0;
    display: flex;
    font-size: 1.9em;
    height: 300px;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid gray;
    position: relative;
    transition: .3s;
}

.education__course:hover {
    transform: translateY(-40px);
}

.education__course:hover>.education__course__description {
    left: 0;
}

.education__course__description {
    transition: .3s;
    position: absolute;
    z-index: 5;
    align-items: center;
    display: flex;
    height: 100%;
    background-color: white;
    top: 0;
    left: 100%;
    width: 100%;
}

.education__course:nth-child(1)>.education__course__description {
    color: white;
    background-color: var(--card-color1);
}

.education__course:nth-child(2)>.education__course__description {
    color: white;
    background-color: var(--card-color2);
}

.education__course:nth-child(3)>.education__course__description {
    color: white;
    background-color: var(--card-color3);
}

.education__course:nth-child(4)>.education__course__description {
    color: white;
    background-color: var(--card-color4);
}

.education__course:nth-child(1) {
    color: var(--card-color1);
}

.education__course:nth-child(2) {
    color: var(--card-color2);
}

.education__course:nth-child(3) {
    color: var(--card-color3);
}

.education__course:nth-child(4) {
    color: var(--card-color4);
}

.education__course__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 100px;
    width: 80%;
}

.education__course__image>img {
    object-fit: contain;
    height: 100%;
}

@media only screen and (max-width: 970px) {
    .education__section {
        height: auto;
    }

    .education__title {
        font-size: 11vw;
    }
}

@media only screen and (max-width: 560px) {}


/* #endregion */