@import '../css/root.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('./components/header.css');
@import url('./components/background.css');



.home__section {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Space Mono', monospace;
    pointer-events: none;
    display: flex;
    z-index: 1;
    user-select: none;
}

.home__title {
    font-size: 6em;
    text-align: center;
    font-family: Gilroy;
    width: 100%;
}

.home__text {
    font-size: 2em;
}

.video {
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    height: 100%;
    z-index: -1;
    /* transform: translate(-50%, -50%); */
    width: 100%;
}

.fade__line {
    animation: fade__in 0.5s infinite alternate;
}

@keyframes fade__in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media only screen and (max-width: 660px) {
    .home__text {
        text-align: center;
    }
}


/* #region About Section*/
.about__section {
    width: 100%;
    padding: 0 50px;
    display: flex;
    height: 100vh;
}

.about__left {
    /* background-color: var(--evo--color); */
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about__right {
    /* background-color: rgba(0, 0, 0, 0.531); */
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 50%;
}

.about__title {
    position: relative;
    /* font-family: 'Space Mono', monospace; */
    font-family: Gilroy;
    font-size: 5vw;
}

.about__title::before {
    background-color: var(--evo--color);
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    bottom: -5px;
}

.about__description {
    text-align: left;
    font-size: 2.5vw;
    width: 70%;
    font-family: 'Space Mono', monospace;
}

.about__content {
    height: 90%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 90%;
    /* gap: 20px; */
    flex-direction: column;
    display: flex;

}

.about__right__image {
    width: 100%;
    display: flex;
    position: relative;
    perspective: 1500px;
}

.about__right__image::before {
    position: absolute;
    perspective: 1500px;
    content: '';
    top: -50px;
    right: 50px;
    background-image: url('../images/pattern-1.png');
    border-radius: 0.375em;
    height: 100px;
    animation: rotate360 infinite 10s linear;
    width: 100px;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about__right__image>img:hover {
    perspective: 0;
    transform: rotate(0);
}

.about__right__image>img {
    object-fit: cover;
    transform: rotateX(20deg) rotateY(-15deg) rotateZ(6deg);
    border-radius: 0.375em;
    box-shadow: 2px 10px 30px hsla(0, 0%, 0%, 0.25);
    transition: .3s;
    width: 90%;
    position: relative;
    box-shadow: -10px -10px 1px var(--card-color4);
}

@media only screen and (max-width: 970px) {
    .about__section {
        flex-direction: column;
    }

    .about__section>div {
        width: 100%;
    }

    .about__content {
        flex-direction: row;
    }

    .about__right__image {
        width: 50%;
    }

    .about__right__image>img {
        width: 80%;
    }

    .about__content,
    .about__left,
    .about__right {
        height: auto;
    }

    .about__title {
        font-size: 11vw;
    }

    .about__description {
        text-align: center;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 970px) {
    .about__section {
        height: auto;
    }

    .about__content {
        flex-direction: column;
        gap: 10px;
    }

    .about__right__image {
        width: 100%;
        justify-content: center !important;
        max-height: 350px;
    }

    .about__section {
        padding: 0;
    }
}

/* #endregion */


/* #region Educatio Section */
.education__section {
    background-color: var(--bg-color1);
    padding: 50px 0;
}

.education__title {
    font-family: var(--fontcode);
    font-size: 5vw;
    text-align: center;
}

.education__content {
    padding-top: 25px;
}

.education__carousel {
    width: 80%;
    margin: 0 auto;
}

.education__cards {
    display: flex;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.education__card {
    overflow: hidden;
    width: 300px;
    padding: 20px;
    display: inline-block;
    background-color: white;
    transition: .3s;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.education__card::after {
    transform: scale(0);
    content: '';
    position: absolute;
    height: 100%;
    border-radius: 50%;
    width: 100%;
    z-index: 1;
    transition: .4s;
    top: 0;
    left: 0;
}

.education__image {
    position: relative;
    z-index: 3;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.education__card__title {
    position: relative;
    z-index: 3;
    margin-top: 20px;
    font-family: 'Space Mono', monospace;
    user-select: none;
    transition: .4s;
    font-size: 1em
}

.icofont-computer,
.icofont-smart-phone,
.icofont-code,
.icofont-bug,
.icofont-game-pad {
    color: white;
    font-size: 5em;
}


.education__card:nth-child(1) .education__image {
    background-color: var(--card-color1);
}

.education__card:nth-child(2) .education__image {
    background-color: var(--card-color2);
}

.education__card:nth-child(3) .education__image {
    background-color: var(--card-color3);
}

.education__card:nth-child(4) .education__image {
    background-color: var(--card-color4);
}

.education__card:nth-child(5) .education__image {
    background-color: var(--evo--color);
}


.education__card:nth-child(1):hover::after{
    transform: scale(1);
    background-color: var(--card-color1);
    border-radius: 0%;

}
.education__card:nth-child(1):hover .education__card__title{
    color: white;
}
.education__card:nth-child(2):hover::after{
    transform: scale(1);
    border-radius: 0%;

    background-color: var(--card-color2);
}
.education__card:nth-child(2):hover .education__card__title{
    color: white;
}
.education__card:nth-child(3):hover::after{
    border-radius: 0%;
    transform: scale(1);

    background-color: var(--card-color3);
}
.education__card:nth-child(3):hover .education__card__title{
    color: white;
}
.education__card:nth-child(4):hover::after{
    transform: scale(1);
    border-radius: 0%;
    background-color: var(--card-color4);
}
.education__card:nth-child(4):hover .education__card__title{
    color: white;
}
.education__card:nth-child(5):hover::after{
    border-radius: 0%;
    transform: scale(1);
    background-color: var(--evo--color);
}
.education__card:nth-child(5):hover .education__card__title{
    color: white;
}

/* .education__card:nth-child(2):hover {
    color: white;
    background-color: var(--card-color2)
}

.education__card:nth-child(3):hover {
    color: white;
    background-color: var(--card-color3)
}

.education__card:nth-child(4):hover {
    color: white;
    background-color: var(--card-color4)
}

.education__card:nth-child(5):hover {
    color: white;
    background-color: var(--evo--color)
} */



/* #endregion */